{% extends "layout.njk" %}

{% block head %}
    <title>Odilon Lima | Sobre</title>
{% endblock %}

{% block content %}
<!-- PRESENTATION -->
    <div class="wrapper">
      <img src="{{about.avatarURL}}" alt="Odilon">
      <h1>{{about.name}}</h1>
      <h2>Estudante de Sistemas de informação no <a href="https://www.uninorteac.edu.br/" target="blank">Centro universitário uninorte</a></h2>
      <h3>Entusiasta das tecnologias <a id="node" href="https://nodejs.org/en/" target="blank">Node.js</a>, <a id="react" href="https://pt-br.reactjs.org/" target="blank">React</a> e <a id="react-native" href="https://reactnative.dev/" target="blank">React Native</a></h3>
    </div>

    <!-- FOOTER -->
    <div class="links">
      {% for link in about.links %}
        <a href="{{link.url}}" target="blank">
        <img src="{{link.name}}" alt="Github"></a>
      {% endfor %}
    </div>
{% endblock %}

