{% extends "layout.njk" %}

{% block head %}
    <title>Odilon Lima | Sobre</title>
{% endblock %}

{% block content %}
<!-- PRESENTATION -->
    <div class="wrapper">
      <img src="{{about.avatarURL}}" alt="Odilon">
      <h1>{{about.name}}</h1>
      <h2>{{about.hole}}</h2>
      <h3>{{about.technology}}</h3>
    </div>

    <!-- FOOTER -->
    <div class="links">
      {% for link in about.links %}
        <a href="{{link.url}}" target="blank">
        <img src="{{link.name}}" alt="Github"></a>
      {% endfor %}
    </div>
{% endblock %}

