
{% extends "layout.njk" %}

    {% block head %}
    <title>{{card.title}}</title>
    {% endblock %}

    {% block content %}
    <!-- PRESENTATION -->
            <div class="wrapper">
            <h1>{{card.title}}</h1>
            </div>

            <section class="video">
                    <div class="card" id="{{card.id}}">
                        <div class="video-container">
                            <iframe src="http://www.youtube.com/embed/{{card.id}}" frameborder="0"></iframe>
                        </div>

                        <div class="content">
                            <p>{{card.title}}</p>
                        </div>

                        <div class="video-information">
                            <p>{{card.duration}}</p>
                            <p class="card-price">{{card.price}}</p>
                        </div>
                    </div> 
            </section>

            <!-- FOOTER -->
            <div class="links footer">
            <!-- Github -->
            <a href="https://github.com/OdilonLimaNeto" target="blank">
            <img src="/assets/github.png" alt="Github"></a>

            <!-- Facebook -->
            <a href="https://www.facebook.com/profile.php?id=100009148764045" target="blank">
                <img src="/assets/facebook.png" alt=" Facebook"></a>

            <!-- LinkedIn -->
            <a href="https://www.linkedin.com/in/odilonlimaneto/" target="blank">
                <img src="/assets/linkedIn.png" alt=" LinkedIn"></a>     
            </div>
    {% endblock %}
    